body {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 32px;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
}

body {
  background-color: #1b1921;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1220px;
}

p {
  margin: 0;
}

form button {
  background-color: #363744;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
form button:hover {
  background-color: rgba(61, 53, 86, 0.2);
}
form button:active {
  transform: scale(0.98);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header {
  background-color: #1b1921;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
header .container {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.header-menu {
  width: 650px;
}
.header-menu nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}
.header-menu nav ul li {
  list-style: none;
}
.header-menu nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.header-menu nav ul li a:hover {
  color: #b3b0ba;
}

.main-wrapper main section .container {
  margin: 0 auto;
  padding: 75px 0;
}
.main-wrapper main section .container h2 {
  text-align: center;
  margin-bottom: 75px;
}

#hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/hero-background.png);
  background-size: 100%;
  background-size: cover;
}
#hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero .container .me {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 1s ease-out forwards;
}
#hero .container .me img {
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 300px 180px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
#hero .container .me h1 {
  padding-top: 3rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#about {
  background-color: #fff;
  color: #363744;
}

#projects .container .project {
  display: flex;
}
#projects .container .project-lucid, #projects .container .project-personal {
  padding: 10px;
  border: 1px solid #3d3556;
  transition: background-color 0.3s;
}
#projects .container .project-lucid img, #projects .container .project-personal img {
  width: 100%;
}
#projects .container .project-lucid .project-content, #projects .container .project-personal .project-content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
#projects .container .project-lucid .project-content h3, #projects .container .project-personal .project-content h3 {
  font-size: 45px;
}
#projects .container .project-lucid:hover, #projects .container .project-personal:hover {
  background-color: rgba(61, 53, 86, 0.2);
}

#skills {
  background-color: #fff;
  color: #363744;
  padding: 100px 0;
}
#skills .container .skills {
  display: flex;
  justify-content: space-between;
}
#skills .container .skills .skill {
  text-align: center;
  width: 225px;
}
#skills .container .skills .skill img {
  width: 150px;
  margin-bottom: 20px;
}
#skills .container .skills .skill h3 {
  border-bottom: 3px solid #363744;
  margin-bottom: 10px;
}
#skills .container .skills .skill:last-child {
  margin-right: 0;
}

#lucid .container,
#personal .container {
  display: flex;
}
#lucid .container .content,
#personal .container .content {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#lucid .container .content form button,
#personal .container .content form button {
  margin-top: 20px;
}
#lucid .container .image,
#personal .container .image {
  width: 40%;
}
#lucid .container .image img,
#personal .container .image img {
  width: 100%;
}
#lucid.visible .container,
#personal.visible .container {
  opacity: 1;
  transform: translateX(0);
}

#lucid .container {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#lucid .container .content {
  padding-right: 20px;
}

#personal .container {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#personal .container .content {
  padding-left: 20px;
  order: 2;
}
#personal .container .image {
  order: 1;
}

#contact {
  background-color: #fff;
  color: #363744;
}
#contact .container .contacts {
  display: flex;
  justify-content: space-evenly;
}
#contact .container .contacts .phone,
#contact .container .contacts .email,
#contact .container .contacts .telegram,
#contact .container .contacts .github {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#contact .container .contacts .phone img,
#contact .container .contacts .email img,
#contact .container .contacts .telegram img,
#contact .container .contacts .github img {
  margin: 0 auto;
  width: 100px;
  margin-bottom: 20px;
}
#contact .container .contacts .phone a,
#contact .container .contacts .email a,
#contact .container .contacts .telegram a,
#contact .container .contacts .github a {
  text-decoration: none;
}

footer {
  background-color: #1b1921;
}
footer .container {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}