body {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 32px;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
}

body {
  background-color: #1b1921;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1220px;
}

p {
  margin: 0;
}

form button {
  background-color: #363744;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
form button:hover {
  background-color: rgba(61, 53, 86, 0.2);
}
form button:active {
  transform: scale(0.98);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header {
  background-color: #1b1921;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
header .container {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.header-menu {
  width: 650px;
}
.header-menu nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}
.header-menu nav ul li {
  list-style: none;
}
.header-menu nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.header-menu nav ul li a:hover {
  color: #b3b0ba;
}
.header-menu nav ul li:nth-child(3) ul {
  display: none;
  flex-direction: column;
  position: fixed;
  padding: 40px 20px 20px 20px;
  background-color: #1b1921;
  transform: translateX(-25px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header-menu nav ul li:nth-child(3) ul li {
  margin-bottom: 10px;
}
.header-menu nav ul li:nth-child(3) ul li:last-child {
  margin-bottom: 0;
}
.header-menu nav ul li:nth-child(3):hover ul {
  display: block;
}

.main-wrapper main section .container {
  margin: 0 auto;
  padding: 75px 0;
}
.main-wrapper main section .container h2 {
  text-align: center;
  margin-bottom: 75px;
}

#hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/hero-background.png);
  background-size: 100%;
  background-size: cover;
}
#hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero .container .me {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 1s ease-out forwards;
}
#hero .container .me img {
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 300px 180px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
#hero .container .me h1 {
  padding-top: 3rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#about {
  background-color: #fff;
  color: #363744;
}

#projects .container .slider .slide {
  margin-bottom: 30px;
}
#projects .container .slider .slide .slide-content {
  text-align: center;
  background-color: rgba(54, 55, 68, 0.3);
  border: 1px solid #b3b0ba;
  border-radius: 8px;
  width: 800px;
  height: 700px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#projects .container .slider .slide .slide-content img {
  width: 750px;
  margin: 0 auto 30px auto;
}
#projects .container .slider .slide .slide-content .content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
#projects .container .slider .slide .slide-content .content h3 {
  font-size: 40px;
}
#projects .container .slider .slick-dots button {
  border: 1px solid #b3b0ba;
  height: 11px;
  width: 11px;
  background-color: #b3b0ba;
  font-weight: bold;
  display: block;
  padding: 0;
  text-indent: -9999px;
  border-radius: 100%;
}
#projects .container .slider .slick-dots li.slick-active button {
  border: 1px solid #fff;
  height: 11px;
  width: 11px;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 4px;
}

#skills {
  background-color: #fff;
  color: #363744;
  padding: 75px 0 100px 0;
}
#skills .container .skills {
  display: flex;
  justify-content: space-between;
}
#skills .container .skills .skill {
  text-align: center;
  width: 225px;
}
#skills .container .skills .skill img {
  width: 150px;
  margin-bottom: 20px;
}
#skills .container .skills .skill h3 {
  border-bottom: 3px solid #363744;
  margin-bottom: 10px;
}
#skills .container .skills .skill:first-child {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#skills .container .skills .skill:nth-child(2) {
  opacity: 0;
  transform: translateX(-25px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#skills .container .skills .skill:nth-child(3) {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#skills .container .skills .skill:nth-child(4) {
  opacity: 0;
  transform: translateX(25px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#skills .container .skills .skill:last-child {
  margin-right: 0;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#skills.visible .container .skills .skill {
  opacity: 1;
  transform: translateX(0);
}

#lucid .container,
#personal .container,
#twitee .container {
  display: flex;
}
#lucid .container .content,
#personal .container .content,
#twitee .container .content {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#lucid .container .content form button,
#personal .container .content form button,
#twitee .container .content form button {
  margin-top: 20px;
}
#lucid .container .image,
#personal .container .image,
#twitee .container .image {
  width: 40%;
}
#lucid .container .image img,
#personal .container .image img,
#twitee .container .image img {
  width: 100%;
}
#lucid.visible .container,
#personal.visible .container,
#twitee.visible .container {
  opacity: 1;
  transform: translateX(0);
}

#lucid .container,
#twitee .container {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#lucid .container .content,
#twitee .container .content {
  padding-right: 20px;
}

#personal .container {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#personal .container .content {
  padding-left: 20px;
  order: 2;
}
#personal .container .image {
  order: 1;
}

#contact {
  background-color: #fff;
  color: #363744;
}
#contact .container {
  display: flex;
  justify-content: space-evenly;
}
#contact .container .phone,
#contact .container .email,
#contact .container .telegram,
#contact .container .github {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  padding: 30px 0;
  border-radius: 10px;
  text-decoration: none;
  color: #363744;
}
#contact .container .phone img,
#contact .container .email img,
#contact .container .telegram img,
#contact .container .github img {
  margin: 0 auto;
  width: 100px;
  margin-bottom: 20px;
}
#contact .container .phone:hover,
#contact .container .email:hover,
#contact .container .telegram:hover,
#contact .container .github:hover {
  background-color: rgba(54, 55, 68, 0.1);
  transition: background-color 0.3s;
}
#contact .container .phone {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#contact .container .email {
  opacity: 0;
  transform: translateX(-25px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#contact .container .telegram {
  opacity: 0;
  transform: translateX(25px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#contact .container .github {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
#contact.visible .container .phone,
#contact.visible .container .email,
#contact.visible .container .telegram,
#contact.visible .container .github {
  opacity: 1;
  transform: translateX(0);
}

footer {
  background-color: #1b1921;
}
footer .container {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}