@import 'variables';
@import 'mixins';

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 88px;
}

body {
    // background-color: $theme-dark;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/elements/background.png);
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
    // border: 1px solid greenyellow;
}

.container {
    width: $desktopL;
}

p {
    margin: 0;
}

form {
    button {
        @include button-style($black, $white, 1px solid $white, rgba($gray-dark, 0.2));

        border-radius: 5px;
    }
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

