@import 'variables.scss';

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 88px;
}

body {
    background-color: $theme-dark;
}

* {
    box-sizing: border-box;
    // border: 1px solid greenyellow;
}

.container {
    width: $desktopL;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

